.cover-image {
    text-align: center;
    background-size: cover;
    padding: 100px 0;
    color: white;
  }
  .cover-image h1 {
    font-size: 3em;
  }
  .cover-image p {
    font-size: 24px;
  }
  .nav-bar {
    background-color: #007acc;
    padding: 10px;
    text-align: center;
  }
  .nav-bar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
  }
  .button {
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  .button-green {
    background-color: #28a745;
  }

  /* Key Features Section */
.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .feature-item {
    flex: 1 1 30%;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }

  .feature-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }

  .feature-item h2 {
    font-size: 24px;
    margin: 10px 0;
  }

  .feature-item p {
    padding: 0 10px;
    font-size: 16px;
    color: #333;
  }

/* About Section */
.about-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
  }

  .about-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .about-section p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
  }

  .about-section a {
    color: #007acc;
    text-decoration: none;
    font-weight: bold;
  }

  .about-section a:hover {
    text-decoration: underline;
  }
