<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Injeel Hospital</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="Email">
          <img src="../static/images/email.png" alt="email icon" />
          <a href="mailto:info@injilhospital.com">info@injilhospital.com</a>
        </div>
        <div class="Call">
          <img src="../static/images/phone-call.png" alt="call icon" />
          <a href="{{ url_for('branches.branches')}}">Contact US</a>
        </div>
        <div class="social-media-images">
          <a href="https://www.facebook.com/frankgwaihiga1" target="_blank">
            <img src="../static/images/facebook-icon.png" alt="facebook logo" />
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img src="../static/images/instagram.png" alt="instagram logo" />
          </a>
          <a href="https://www.tiktok.com" target="_blank">
            <img src="../static/images/tiktok-icon.png" alt="tiktok logo" />
          </a>
          <a href="https://twitter.com" target="_blank">
            <img src="../static/images/twitter.png" alt="twitter logo" />
          </a>
        </div>
      </div>
    </header>
    <main>
      <nav>
        <ul class="nav-links">
          <li><a href="#">HOME</a></li>
          <li class="dropdown">
            <a href="{{ url_for('services.services') }}" class="dropbtn">
              SERVICES
              <img
                src="{{ url_for('static', filename='images/down-arrow.png') }}"
                alt="down arrow"
              />
            </a>
            <div class="dropdown-content">
              <a href="{{ url_for('services.services') }}#inpatient"
                >In-Patient</a
              >
              <a href="{{ url_for('services.services') }}#outpatient"
                >Specialized Services</a
              >
            </div>
          </li>
          <li class="dropdown">
            <a href="{{ url_for('branches.branches') }}" class="dropbtn">
              BRANCHES
              <img
                src="{{ url_for('static', filename='images/down-arrow.png') }}"
                alt=""
            /></a>
            <div class="dropdown-content">
              <a href="{{ url_for('branches.branches') }}#nairobi">Nairobi</a>
              <a href="{{ url_for('branches.branches') }}#mombasa">Mombasa</a>
              <a href="{{ url_for('branches.branches') }}#kisumu">Kisumu</a>
            </div>
          </li>
        </ul>
      </nav>
      <section class="introduction">
        <div class="carousel">
          <div class="carousel-slide">
            <img src="../static/images/hospital.jpg" alt="Hospital image" />
            <img src="../static/images/hospital2.jpg" alt="hospital image" />
            <img src="../static/images/hospital3.jpg" alt="hospital image" />
          </div>
          <div class="text-carousel">
            <span>Welcome to Our Hospital</span>
            <a href="{{ url_for('services.services') }}" class="btn"
              >Our services</a
            >
          </div>
        </div>
      </section>
      <section class="why-choose-us">
        <h1>Why Choose Us?</h1>
        <div class="reasons">
          <div class="reason">
            <img
              src="../static/images/affordable-icon.png"
              alt="Affordable Healthcare"
            />
            <h2>HealthCare</h2>
            <p>
              At Injil Hospital, we partner with other medical professionals to
              ensure you get the best
            </p>
          </div>
          <div class="reason">
            <img src="../static/images/dedication-icon.png" alt="Dedication" />
            <h2>Dedication</h2>
            <p>
              We are fully dedicated to providing effective and compassionate
              care to our patients
            </p>
          </div>
          <div class="reason">
            <img src="../static/images/support.png" alt="24/7 Support" />
            <h2>24/7 Support</h2>
            <p>
              With our 24/7 support, you can rest assured that your health is in
              good hands
            </p>
          </div>
          <div class="reason">
            <img src="../static/images/quality.png" alt="Quality Care" />
            <h2>Quality Care</h2>
            <p>
              Our team of healthcare professionals is committed to providing
              quality care to our patients
            </p>
          </div>
        </div>
      </section>
      <section class="welcome">
        <div class="welcome-section">
          <img
            src="../static/images/hospital.jpg"
            alt="Hospital"
            class="welcome-img"
          />
          <h1 class="welcome-heading">Welcome to Injil Hospital</h1>
          <p class="welcome-paragraph">
            Injil Hospital is a 500-bed capacity facility located along Mbagathi
            Road, opposite Kenya Defence Forces headquarters. We offer
            patient-focused, world-class services at locally affordable rates.
            At Injil Hospital, we are committed to providing health services to
            our patients 24/7. We also have other branches in other regions
            within the country.
          </p>
          <a href="{{ url_for('services.services') }}" class="welcome-btn"
            >Learn More</a
          >
        </div>
      </section>
      <section class="feedback">
        <h1>Our Clients Feedback</h1>
        <div class="feedback-container">
          <div class="client">
            <p>
              Best patient support I have ever had in my life! Keep it up guys!
            </p>
            <h2>Kimani Ngujiri</h2>
          </div>
          <div class="client">
            <p>
              Amazing facility! I have been having chemo services at your
              clinic. I have had access to the best facilities available in the
              country
            </p>
            <h2>Mwaura Ngurika</h2>
          </div>
          <div class="client">
            <p>
              The doctors and all the health personnels I interacted were so
              professional and kind. I would encourage everyone in need of
              medical services to consider this hospital
            </p>
            <h2>George Mwaura</h2>
          </div>
        </div>
      </section>
      <section class="visit-us">
        <h1>Do you want to Book an Appointment with us or Visit us Today?</h1>
        <div class="h2-container">
          <div class="left">
            <h2>Visit our Branches</h2>
            <a href="{{ url_for('branches.branches') }}" class="visit-btn"
              >View</a
            >
          </div>
          <div class="right">
            <h2>Book an Appointment</h2>
            <a
              href="{{ url_for('bookings.show_booking_form') }}"
              class="appointment-btn"
              >Book Now</a
            >
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Injil Hospital. All rights reserved.</p>
      <form
        action="{{ url_for('bookings.doctor_login') }}"
        method="POST"
        class="doctor-access-form"
      >
        <label for="secret-word">Doctor Access:</label>
        <input
          type="password"
          id="secret-word"
          name="secret_word"
          placeholder="Enter Secret Word"
          required
        />
        <button type="submit">Enter</button>
      </form>
    </footer>
    <script src="../static/js/script.js"></script>
  </body>
</html>
